// Marvel
$marvel-primary-color: #f0141e;
$text-light: #ffffff;

// BREAKPOINTS
$screen-xsm: 320px; // IPHONE 5
$screen-smx: 375px; // SMARTPHONES DE PROPORÇÕES MAIS COMUNS
$screen-sm: 480px; // MAIORIA DOS DISPOSITIVOS EM MODO LANDSCAPE
$screen-tb: 600px; // TABLETS E SMARTPHONES MAIS LARGOS NO MODO PORTRAIT
$screen-tbl: 801px; // TABLETS E IPAD NO MODO PORTRAIT, DESKTOPS DE BAIXA RESOLUÇÃO
$screen-m: 1025px; // TELAS MAIS COMUNS E TABLETS MAIS LARGOS EM MODO LANDSCAPE
$screen-l: 1281px; // TELAS MAIS LARGAS
$screen-xl: 1920px; // TELAS EM ALTA DEFINIÇÃO
